.meeting-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5%;
  background-color: rgba(255, 248, 238, 1);
}
.meeting-nav-bar {
  width: 100%;
  height: 10vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--dl-color-default-blue);
}
.meeting-navlink {
  display: contents;
}
.meeting-homeicon {
  align-self: center;
  max-height: 75%;
  padding-top: 1vh;
  border-width: 0px;
  margin-right: 2%;
  border-radius: 0px;
  padding-bottom: 1vh;
  text-decoration: none;
}
.meeting-navlink1 {
  display: contents;
}
.meeting-usericon {
  align-self: center;
  max-height: 75%;
  padding-top: 1vh;
  padding-right: 2%;
  padding-bottom: 1vh;
  text-decoration: none;
}
.meeting-content {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 3%;
  padding-left: 10%;
  flex-direction: column;
}
.meeting-title {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  align-self: flex-start;
  text-align: center;
  font-stretch: normal;
}
.meeting-date1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.meeting-date11 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.meeting-date12 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.meeting-navlink2 {
  display: contents;
}
.meeting-confirm {
  width: 20vw;
  height: 8vw;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  padding-top: 1%;
  border-radius: 3vw;
  flex-direction: column;
  padding-bottom: 1%;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-default-blue);
}
.meeting-text6 {
  color: #000000;
  width: 100%;
  height: auto;
  padding: 2%;
  font-size: 3vw;
  align-self: center;
  font-style: Regular;
  text-align: center;
  font-family: Hermeneus One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 991px) {
  .meeting-homeicon {
    right: 11%;
    max-width: auto;
    align-self: center;
  }
  .meeting-usericon {
    margin-left: 2%;
  }
}
@media(max-width: 767px) {
  .meeting-homeicon {
    right: 13%;
    align-self: center;
  }
}
@media(max-width: 479px) {
  .meeting-homeicon {
    margin-right: 2%;
  }
}
